div#inputPane
  p Write your Javascript code here, Learn by interactive coding:
  textarea.codeInputPane#jsInput(cols="55",rows="20",wrap="off")
  p
  button#executeBtn.bigBtn(type="button") Visualize execution
  center
    p Try these small examples:
    - var f = false
    each href, name in examples
      - if (f)
        |  |  
      - f = true
      a(href="#", onclick='load("#{href}");return false;') #{name}
  center
    p Examples from the MIT 
      a(href="http://mit.edu/6.01/") 6.01
      |  course:
    - var f = false
    each href, name in mit
      - if (f)
        |  |  
      - f = true
      a(href="#", onclick='load("#{href}");return false;') #{name}
  center
    p Learn Javascript the hard way:
    - var f = false
    each href, name in hard
      - if (f)
        |  |  
      - f = true
      a(href="#", onclick='load("#{href}");return false;') #{name}
  center
    p examples from 
      a(href="https://github.com/nzakas/professional-javascript/tree/master/edition2") professional-javascript
      |  :
    - var f = false
    each href, name in professional
      - if (f)
        |  |  
      - f = true
      a(href="#", onclick='load("#{href}");return false;') #{name}



div
  table#outputPane(border="0")
    tr
      td(valign="top")
        div#errorOutput
        center
          div#codeOutputDiv
            | Use <b>left</b> and <b>right</b> arrow keys to step through this code:
            table#codeOutput
          div#editCodeLinkDiv
            button#editBtn.medBtn(type="button") Edit code
          div#vcrControls
            button#jmpFirstInstr(type="button") &lt;&lt; First
            button#jmpStepBack(type="button") &lt; Back
            span#curInstr Step ? of ?
            button#jmpStepFwd(type="button") Forward &gt;
            button#jmpLastInstr(type="button") Last &gt;&gt;
        center
          p Program output:
          textarea#stdout(cols="50",rows="13",wrap="off",readonly)
      td(valign="top")
        center
          div#dataViz
script
  function load(url) {
    $.ajax({
      url: url, 
      dataType: "text",
      success: function(dat) {$("#jsInput").val(dat)},
      error: function(e) {console.log(e)}
    });
  }
  load("/javascripts/examples/intro.js");



